body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(131, 131, 231);
}

nav ul {
    list-style: none;
    color: #fff;
    background-color: black;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
}

nav a:hover {
    background-color: #fff;
    color: #4a4a4f;
}

h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}


/* big container around everything (except h1) */

.game-container {}


/* div around game-boxes*/

#game-area {}

.card {
    float: left;
    width: 20%;
    margin-left: 10%;
    height: 200px;
    padding-bottom: 10%;
    text-align: center;
}

#contact {
    left: 0em;
}

#copyright {
    right: 0em;
    display: inline-block;
}