                    body {
                        margin: 0;
                        padding: 0;
                        font-family: 'Montserrat', sans-serif;
                        background-color: rgb(130, 130, 212);
                        height: 100%;
                        color: black;
                    }
                    
                    nav {
                        list-style: none;
                        color: #fff;
                        background-color: black;
                        text-align: center;
                        padding: 0;
                        margin: 0;
                    }
                    
                    nav a {
                        text-decoration: none;
                        color: #fff;
                        display: inline-block;
                        background-color: black;
                    }
                    
                    nav a:hover {
                        background-color: rgb(75, 72, 72);
                        color: #f0f0f5;
                    }
                    
                    #color-shaker,
                    #explanation {
                        width: 48px;
                    }
                    
                    h1 {
                        text-align: center;
                        font-family: 'Permanent Marker', cursive;
                        font-size: xx-large;
                        margin-top: 2em;
                        margin-bottom: 1em;
                        color: black;
                    }
                    
                    .content {
                        height: 85vh;
                    }
                    /* overlay-details from YouTube-channel "Web Dev Simplified", video "How to Code a Card Matching Game"*/
                    
                    .overlay-text {
                        display: none;
                        position: fixed;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        justify-content: center;
                        align-items: center;
                        z-index: 100;
                        color: orange;
                        font-family: 'Permanent Marker', cursive;
                    }
                    
                    .overlay-text-small {
                        font-size: .4em;
                    }
                    
                    .overlay-text.visible {
                        display: flex;
                        flex-direction: column;
                        animation: overlay-grow 500ms forwards;
                        text-align: center;
                    }
                    
                    @keyframes overlay-grow {
                        from {
                            background-color: rgba(0, 0, 0, 0);
                            font-size: 0;
                        }
                        to {
                            font-size: 3.5em;
                            background-color: rgba(0, 0, 0, 0.7);
                        }
                    }
                    /*elements in score-area*/
                    
                    .highest-score,
                    .timer,
                    .current-score {
                        display: inline-block;
                        margin-bottom: 10px;
                        padding: 2px 6px;
                        width: 20vw;
                    }
                    /* big container around everything (except h1) */
                    
                    #game-container {
                        padding: 20px;
                        padding-bottom: 20px;
                        background-color: rgb(248, 249, 252);
                        border: solid 1px;
                    }
                    /* div around game-boxes*/
                    
                    #game-area {
                        height: 40vh;
                    }
                    
                    .game-card {
                        border: solid 1px;
                        width: 15vw;
                        height: 10vh;
                        text-align: center;
                        background-color: rgb(70, 45, 129);
                        padding: 15px 1px;
                        margin: 10px;
                        cursor: pointer;
                    }
                    
                    .footer {
                        background-color: black;
                        color: white;
                    }
                    
                    .modal-content {
                        padding: 10px;
                    }
                    
                    .modal-content h2 {
                        text-decoration: underline;
                        margin: 10px 0;
                    }
                    
                    .modal-content h3 {
                        margin: 10px 0;
                    }
                    /* Credit: media-query-template from "https://getbootstrap.com/docs/4.1/layout/overview/" */
                    
                    @media (min-width: 768px) {
                        h1 {
                            font-size: 48px;
                        }
                    }